<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script data-ad-client="ca-pub-5692106300445811" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
          <div id="alpha">beta</div>
          </h1>
        </a>
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <section>
        <div class="container">
          <div class="column1">
            <h1>Descubre tu lote con un solo click</h1>
            <h2>
              Descubre todo sobre tu lote, obten planos y reglamentación en tan solo un instante
            </h2>
            <a href="/map">Empieza ahora</a>
          </div>
          <div class="column2">
            <img 
            src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fimg_mapa.png?v=1621045380690"
            alt="img1"
            class="img_index">
          </div>
        </div>
      </section>
      <section id="impar">
        <div class="container">
          <div class="column1">
            <img 
            src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fimg_doc.png?v=1621049016351"
            alt="img2"
            class="img_index">
          </div>
          <div class="column2">
            <h1>¿Piensas construir tu casa?</h1>
            <h2>
              Calcula el precio de ampliación o construcción de manera rápida y sencilla
            </h2>
            <a href="/calculadora/100">Calcular</a>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="column1">
            <h1>¿cómo funciona?</h1>
            <h2>
              Descubre cómo usar la herramientas de <b>MiLote</b> y aprende los términos usados
            </h2>
            <a href="/doc">Aprende más</a>
          </div>
          <div class="column2">
            <img 
            src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fimg_doc.png?v=1621049016351"
            alt="img2"
            class="img_index">
          </div>
        </div>
      </section>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>