<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote | Nosotros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/nos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
          <div id="alpha">beta</div>
          </h1></a
        >
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
              <li><a href="/tab">Tabla</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <h2>
        ¿QUIÉNES SOMOS?
      </h2>
      <div class="dd">
        <p>
          Soy un arquitecto con experiencia de trabajo en Perú y Europa. He diseñado y participado en el diseño de todo tipo de edificios desde viviendas hasta estadios.
        </p>
        <p>
          En todos estos años he podido observar como las nuevas tecnologías facilitan el trabajo del arquitecto. 
        </p>
        <p>
          Hoy en día, tareas como diseñar una casa o hacer un presupuesto se pueden hacer de forma simple y rápida. 
        </p>
        <p>
          Esta ola tecnológica y el internet van a transformar la profesión, bien utilizados podrán ayudar a democratizar el trabajo del arquitecto y sobre todo ayudar a la gente a construir sus proyectos.
        </p>
        <p>
          Esta página es un primer paso en esa dirección.
        </p>
        <div>
          <div id="mnsjtexto">
            ¿Cómo te encuentras?
          </div>
          <img 
               src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2FFoto.png?v=1618193725505"
               alt="Mi Lote - Fundador">
          <div id="nombre">
            Yofan Tamayo Peralta
          </div>
          <div id="cargo">
            Fundador
          </div>
        </div>
      </div>
      <h2 id="hh">
        SERVICIOS
      </h2>
      <div class="dd" id="d2">
        <p>
          Todos tenemos un lote y todos hemos pensado una vez en construir una casa o departamentos en ese lote. 
<!--         </p>
        <p> -->
          ¿Y siempre hemos tenido dudas sobre qué podemos construir o cuánto va a costar? 
        </p>
        <p>
          A veces es difícil contactar un arquitecto o un ingeniero que nos pueda dar esa información.  
        </p>
        <p>
          Esto ha cambiado ahora, gracias al uso de simples algoritmos e internet puedes saber que construir en tu lote con un solo clic.
        </p>
      </div>
      <h2>
        MISIÓN
      </h2>
      <div class="dd">
        <p>
          + Ayudar a la gente a construir su casa.
        </p>
        <p>
          + Conocer el precio y potencialidad de su lote de una forma simple.
        </p>
        <p>
          + Sin ningún costo y con resultados inmediatos.
        </p>
      </div>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>