section {
  /*   height: 100vh; */
  background: white;
  padding: 2rem 0;
}

.container {
  margin: 0 auto;
  width: min(90%, 80rem);
  display: flex;
  align-items: center;
}

.container > * {
  flex-basis: 100%;
  padding: 3rem 2rem;
  color: #222222;
  line-height: 1.125;
}

.img_index {
  height: auto;
  width: 100%;
  max-height: 100%;
  display: block;
  margin: 0px auto;
  max-width: 600px;
  transition-duration: 1s;
}

.container > * b {
  color: var(--green);
}

.container > * h1 {
  font-size: 45pt;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.container > * h2 {
  font-size: 20pt;
  margin-bottom: 1.5rem;
}

.container > * a {
  text-decoration: none;
  display: block;
  color: #222222;
  width: fit-content;
  font-size: 16pt;
  padding: 0.5em;
  border: 1px solid #767676;
  border-radius: 6px;
  background-color: #f0f0f0;
}

.container > * a:hover {
  background-color: #d4d4d4;
  transition: background-color 500ms;
}

.img_index:hover {
  transform: scale(1.1);
}

#impar {
  background: gray;
  text-align: right;
}

#impar .container > * a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container > * {
    text-align: center;
  }
  .container > * a {
    margin: 0 auto;
  }
}
