@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Work+Sans:wght@300;400;600&display=swap');

:root {
  --fondo_claro: #ebebeb;
  --fondo: #fff;
  --fondo_oscuro: #fafafa;
  --green: #1ed760;
  --green_oscuro: #1db954;
  --texto:#000;
  --texto_header:#fff;
  --opciones:#eee;
  --texto_btns:#fff;
  --blue:#59a5d8;
  --footer:#000000;
}
* {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
b {
  font-weight: 600;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--fondo_oscuro);
}

/* ======================== H E A D E R ======================== */
header {
  background-color: var(--green);
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr auto minmax(500px, 12fr) 0.25fr;
  z-index: 1000;
}
header a{text-decoration: none;}
.logo-div {
  grid-column: 2 / 3;
}
.logo-div h1{
  display: flex;
  align-items:center;
}
#img_logo {
  width: 50px;
  margin-right: 0.5rem;
}
#logo-h1 {
  font-weight: 600;
  font-size: 3em;
  color: var(--texto_header);
  height: 100%;
}
#alpha{
  font-size: 10pt;
  color: var(--texto_header);
}

.nav_toggle {
  display: none;
}
.nav_toggle_label {
  display: none;
  z-index: 2000;
}
nav {
  text-align: right;
  grid-column: 3 / 4;
}
nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
}
nav ul li a {
  color: var(--texto_header);
  display: block;
  padding: 1em 1em;
  font-size: 14pt;
}
nav ul li:hover {
  background-color: var(--green_oscuro);
}
nav ul li ul {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #444;
  z-index: 3000;
}

nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: 18.5ch;
}
nav ul li ul li:hover {
  background-color: var(--fondo_oscuro);
}
nav ul li ul li:active {
  background-color: #ccc;
}
nav ul li ul li a:hover {
  color: #000;
}

/* ======================== F O O T E R ======================== */
footer {
/*   width: 100%;
  background-color: var(--footer);
  color: var(--texto_header);
  padding: 0 2em;
  height: max(4rem, 6vh);
  box-shadow: 0 30px #000;
  line-height: max(5em, 6vh);
  text-align: right; */
  
    width: 100%;
    background-color: var(--footer);
    color: var(--texto_header);
    padding: 2em;
/*     box-shadow: 0 30px #000; */
    text-align: right;
}
footer a {
  color: var(--green);
}

/* ==================== r e s p o n s i v e ==================== */

@media (max-width: 800px) {

  header {
    display: block;
  }
  .logo-div {
    display: block;
    width: fit-content;
    margin: auto;
  }
  .nav_toggle_label {
    position: absolute;
    top: 27px;
    left: 0;
    margin-left: 1em;
    display: flex;
    align-items: center;
  }
  .nav_toggle_label span,
  .nav_toggle_label span::before,
  .nav_toggle_label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav_toggle_label span::before,
  .nav_toggle_label span::after {
    content: "";
    position: absolute;
  }
  
  .nav_toggle_label span::before {
    bottom: 7px;
  }

  .nav_toggle_label span::after {
    top: 7px;
  }

  nav ul {
    text-align: left;
    position: absolute;
    width: 100%;
    background-color: var(--green);
    z-index: 1000;
  }
  nav ul li {
    display: none;
    width: 100%;
  }
  .nav_toggle:checked ~ nav ul li {
    display: block;
  }
  nav ul li ul {
    display:block;
    background-color: var(--green_oscuro);
    position: relative;
    width: 100%;
  }
  nav ul li ul li {
    width: 100%;
  }
}

