<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote | Introducción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="/js/doc.js"></script>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
          <div id="alpha">beta</div>
          </h1></a
        >
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <button class="doc_toggle_label" onclick="show_table()">Lista de contenidos</button>
      <div id="container">
        <div id="side">
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc">Introducción</a>
            </h1>
            <ul>
                <li><a href="/doc#tutos">Tutoriales</a></li>
                <li><a href="/doc#mapa">Mapa</a></li>
                <li><a href="/doc#calculadora">Calculadora</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/zonas">Zonas</a>
            </h1>
            <ul>
              <li><a href="/doc/zonas#rdb1">Residencial Densidad Baja Tipo I</a></li>
              <li><a href="/doc/zonas#rdm1">Residencial Densidad Media Tipo I</a></li>
              <li><a href="/doc/zonas#rdm2">Residencial Densidad Media Tipo II</a></li>
              <li><a href="/doc/zonas#rda1">Residencial Densidad Alta Tipo I</a></li>
              <li><a href="/doc/zonas#rda2">Residencial Densidad Alta Tipo II</a></li>
              <li><a href="/doc/zonas#vt">Vivienda Taller</a></li>
              <li><a href="/doc/zonas#cv">Comercio Vecinal</a></li>
              <li><a href="/doc/zonas#cs">Comercio Sectorial</a></li>
              <li><a href="/doc/zonas#cz">Comercio Zonal</a></li>
              <li><a href="/doc/zonas#zr">Zona de Recreación</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/terminos">Términos</a>
            </h1>
            <ul>
              <li><a href="/doc/terminos#lote">Lote</a></li>
              <li><a href="/doc/terminos#zona">Zona</a></li>
              <li><a href="/doc/terminos#atotal">Área Total</a></li>
              <li><a href="/doc/terminos#atechada">Área Techada</a></li>
              <li><a href="/doc/terminos#alibre">Área Libre</a></li>
              <li><a href="/doc/terminos#coef">Coeficiente de edificación</a></li>
              <li><a href="/doc/terminos#amax">Altura máxima</a></li>
              <li><a href="/doc/terminos#ret">Retiro</a></li>
              <li><a href="/doc/terminos#est">Estacionamiento</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/reglamentacion">Reglamentación</a>
            </h1>
          </div>
      </div>
        <div id="content">
          <h1>
            Introducción
          </h1>
          <div class="topic" id="tutos">
            <h2>Tutoriales</h2>
            <h3>
              ¿Cómo usar la herramienta mapa?
            </h3>
            <video width="90%" class="vcenter" controls>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ftutorial1.mp4?v=1622218807925" type="video/mp4">
            </video>
            <h3>
              ¿Cómo usar la herramienta Calculadora?
            </h3>
            <video width="90%" class="vcenter" controls>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ftutorial2.mp4?v=1622219080025" type="video/mp4">
            </video>
          </div>
          <div class="topic" id="mapa">
            <h2 >Mapa</h2>
            <p>
              La herramienta Mapa le permite al usuario conocer datos como el área, manzana y número de cada lote en la región de Arequipa, así como toda la información correspondiente a su <a href="/doc/zonas">zona</a> como su área libre, coeficiente de edificación y demás.
            </p>
            <br>
            <p>
              Para acceder a la herramienta Mapa, primero dirigete a la pestaña <b>Servicios</b> y luego a la opción <b>Conoce tu Lote</b>.
            </p>
            <div>
              <video class="vcenter" autoplay loop>
                <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv1.mov?v=1621796777980" type="video/mp4">
              </video>
            </div>
            <p>
              Ahora puedes ubicar tu lote mediante la barra de busqueda ingresando su dirección, al seleccionar una de las opciones, el mapa se acercará a ella y mostrará un marcador en el centro. Una vez que hayas encontrado tu lote, puedes hacer click en él. Esto mostrara todos sus datos en el panel de información al lado izquierdo (en PC) o en la parte inferior (dispositivos móviles).
            </p>
            <video width="320" height="240" autoplay>
              <source src="movie.mp4" type="video/mp4">Hora de XD
            </video>
            <p>
              Si no encuentras tu lote o la dirección es incorrecta (seguimos trabajando para brindarte un mejor servicio) puedes buscarlo manualmente por el mapa. Los controles son los mismos que en otros navegadores como <a href="https://maps.google.com">Google Maps</a> o <a href="https://www.bing.com/maps/">Bing Maps</a>. Si te encuentras en un dispositivo movil o con geolocalización, puedes presionar el botón "Locación actual" para mostrar tu ubicación en el mapa.
            </p>
            <video width="320" height="240" autoplay>
              <source src="movie.mp4" type="video/mp4">Hora de XD
            </video>
            <p>
              También es posible cambiar la opacidad del mapa, los lotes o las zonas por medio de la herramienta capas en la esquina inferior derecha del mapa.
            </p>
            <video width="320" height="240" autoplay>
              <source src="movie.mp4" type="video/mp4">Hora de XD
            </video>
            <p>
              La información mostrada en el panel de información corresponde a aspectos básicos del lote como su área total y la zona en que se encuentra (aunque también es posible seleccionar una zona compatible), el área techada depende del uso que se le de al lote.
            </p>
            <video class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv2.mov?v=1621797270592" type="video/mp4">Hora de XD
            </video>
            <p>
              Al hacer click en el botón <b style="color:var(--green)">+ info</b> se expandirá un panel de información más detallada. La pestaña <b>LOTE</b> indica información única del lote seleccionado como su manzana, númeración, área libre en m<sup>2</sup> y cantidad de pisos a mostrar en la herramienta <b> PLANO 3D</b>.
            </p>
            <br>
            <p>
              La pestaña <b>ZONA</b> indica información normativa del lote de acuerdo al uso seleccionado y en general, es la misma para todos los lotes que compartan el mismo uso. La pestaña <b>DOC</b> por último, contiene enlaces a las municipalidad del distrito donde se encuentra el lote para poder obtener la reglamentación correspondiente.
            </p>
            <video class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv3.mov?v=1621797493407" type="video/mp4">Hora de XD
            </video>
            <p>
              El botón <b style="color:var(--green)">calcular precio</b> nos llevará a la herramienta <a href="#calculadora">Calculadora</a> autorellenando el parámetro Área Techada con la mostrada más arriba.
            </p>
            <video class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv4.mov?v=1621797616662" type="video/mp4">
            </video>
            <p>
              Por último, el visualizador de Plano nos permitirá escoger entre un plano del lote señalando el área libre, área techada y retiro, y un modelo 3d al cuál es posible cambiar la cantidad de pisos con dicha opción en el panel de <b style="color:var(--green)">+ info</b> hasta la altura máxima permitida.
            </p>
            <video width="320" height="240" autoplay>
              <source src="movie.mp4" type="video/mp4">Hora de XD
            </video>
          </div>
          <div class="topic" id="calculadora">
            <h2 >Calculadora</h2>
            <p>
              La herramienta calculadora le permite al usuario calcular un precio <b>aproximado</b> de la construcción de su lote (sin tomar en cuenta los muebles), para ello, solo debe ingresar el área techada de su lote y escoger entre una serie de opciones respecto a los materiales de construcción e instalaciones. Si la primera se desconoce, se puede usar la herramienta <a href="#mapa">Mapa</a> para descubrirlo.
            </p>
            <br>
            <p>
              El valor unitario por m<sup>2</sup> para una edificacion determinada, se obtiene sumando los valores seleccionados de una de las 7 columnas del cuadro, de acuerdo a sus características predominantes. La demarcacion territorial consignada es de uso exclusivo para el territorio nacional.
            </p>
            <br>
            <p>
              Una vez se haya ingresado el área techada, se selecciona una de las opciones dentro de cada apartado de estructura o acabados correspondiente como se muestra a continuación:
            </p>
            <video  class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv5.mov?v=1621798068030" type="video/mp4">Hora de XD
            </video>
            <p>
              Los apartados se deben expandir automáticamente, si desea cambiar de opción, tan solo debe hacer click en la opción que eligió y el panel de opciones se desplegará nuevamente.
            </p>
            <video class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv6.mov?v=1621798066363" type="video/mp4">Hora de XD
            </video>
            <p>
              Abajo se muestra tanto el costo por metro cuadrádo como el precio total en la moneda seleccionada, puede cambiar la moneda entre soles y dólares con el selector en la parte superior derecha. El cambio de divisa se actualiza de manera semanal, por lo que los precios pueden variar. Para evitar inconvenientes se recomienda que usted mismo haga la conversión.
            </p>
            <video  class="vcenter" loop autoplay>
              <source src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Fv7.mov?v=1621798066159" type="video/mp4">Hora de XD
            </video>
          </div>
        </div>  
        <div id ="publi">
          
        </div>
      </div>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>