<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote | Términos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="/js/doc.js"></script>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
          <div id="alpha">beta</div>
          </h1></a
        >
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <button class="doc_toggle_label" onclick="show_table()">Lista de contenidos</button>
      <div id="container">
        <div id="side">
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc">Introducción</a>
            </h1>
            <ul>
                <li><a href="/doc#tutos">Tutoriales</a></li>
                <li><a href="/doc#mapa">Mapa</a></li>
                <li><a href="/doc#calculadora">Calculadora</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/zonas">Zonas</a>
            </h1>
            <ul>
              <li><a href="/doc/zonas#rdb1">Residencial Densidad Baja Tipo I</a></li>
              <li><a href="/doc/zonas#rdm1">Residencial Densidad Media Tipo I</a></li>
              <li><a href="/doc/zonas#rdm2">Residencial Densidad Media Tipo II</a></li>
              <li><a href="/doc/zonas#rda1">Residencial Densidad Alta Tipo I</a></li>
              <li><a href="/doc/zonas#rda2">Residencial Densidad Alta Tipo II</a></li>
              <li><a href="/doc/zonas#vt">Vivienda Taller</a></li>
              <li><a href="/doc/zonas#cv">Comercio Vecinal</a></li>
              <li><a href="/doc/zonas#cs">Comercio Sectorial</a></li>
              <li><a href="/doc/zonas#cz">Comercio Zonal</a></li>
              <li><a href="/doc/zonas#zr">Zona de Recreación</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/terminos">Términos</a>
            </h1>
            <ul>
              <li><a href="/doc/terminos#lote">Lote</a></li>
              <li><a href="/doc/terminos#zona">Zona</a></li>
              <li><a href="/doc/terminos#atotal">Área Total</a></li>
              <li><a href="/doc/terminos#atechada">Área Techada</a></li>
              <li><a href="/doc/terminos#alibre">Área Libre</a></li>
              <li><a href="/doc/terminos#coef">Coeficiente de edificación</a></li>
              <li><a href="/doc/terminos#amax">Altura máxima</a></li>
              <li><a href="/doc/terminos#ret">Retiro</a></li>
              <li><a href="/doc/terminos#est">Estacionamiento</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/reglamentacion">Reglamentación</a>
            </h1>
          </div>
      </div>
        <div id="content">
          <h1>
            Términos
          </h1>
          <div class="topic" id="amax">
            <h2 >Altura máxima</h2>
            <p>
              Mácima cantidad de pisos que puede poseer la contrucción, según lo indique su zona y el Reglamento Nacional de Edificaciones.
            </p>
          </div>
          <div class="topic" id="ampli">
            <h2 >Ampliación</h2>
            <p>
              Es la obra que se ejecuta a partir de una edificación preexistente, incrementando la cantidad de metros cuadrados de área techada. Puede incluir o no la remodelación del área techada existente.
            </p>
          </div>
          <div class="topic" id="terus">
            <h2 >Terreno rústico</h2>
            <p>
              Unidad inmobiliaria constituida por una superficie de terreno no habilitada para uso urbano y que por lo tanto no cuenta con accesibilidad, sistema de abastecimiento de agua, sistema de desagües, abastecimiento de energía eléctrica, redes de iluminación pública, pistas ni veredas.
            </p>
          </div>
          <div class="topic" id="lote">
            <h2 >Lote</h2>
            <p>
              Superficie de terreno urbano delimitado por una poligonal, definido como resultado de un proceso de habilitación urbana y subdivisión del suelo.
            </p>
          </div>
          <div class="topic" id="zona">
            <h2 >Zona</h2>
            <p>
              División del territorio urbano que agrupa un conjunto de lotes e indica un conjunto de normas técnicas urbanísticas y edificatorias, establecidas en el Plan de Desarrollo Urbano por las que se regula el uso del suelo para localizar las diferentes actividades humanas en función de las demandas físicas, económicas y sociales de la población. Se complementa con el Reglamento de Zonificación, el Índice de Usos y el Cuadro de Niveles Operacionales.

              Sirve de base para el diseño de las habilitaciones urbanas y para la subdivisión de lotes.
            </p>
          </div>
          <div class="topic" id="atotal">
            <h2 >Área Total</h2>
            <p>
              El área total o área bruta es la superficie encerrada dentro de los linderos de la poligonal de un terreno rústico.
            </p>
          </div>
          <div class="topic" id="atechada">
            <h2 >Área Techada</h2>
            <p>
              Es la suma de las superficies de las edificaciones techadas. Se calcula sumando la proyección de los límites de la poligonal que encierra cada piso, descontando los ductos.<br><br>No forman parte del área techada, las cisternas, los tanques de agua, los espacios para la instalación de equipos donde no ingresen personas, los aleros desde la cara externa de los muros exteriores cuando tienen como fin la protección de la lluvia, las cornisas, balcones y jardineras descubiertas y las cubiertas de vidrio u otro material transparente cuando cubran patios interiores.
            </p>
          </div>
          <div class="topic" id="alibre">
            <h2 >Área Libre</h2>
            <p>
              Es la superficie de terreno donde no existen proyecciones de áreas techadas. Se calcula sumando las superficies comprendidas fuera de los linderos de las poligonales definidas por las proyecciones de las áreas.
            </p>
          </div>
          <div class="topic" id="aneta">
            <h2 >Área Neta</h2>
            <p>
              Es la superficie de terreno resultante después de haberse efectuado las cesiones para vías y los aportes reglamentarios.
            </p>
          </div>
          <div class="topic" id="coef">
            <h2 >Coeficiente de edificación</h2>
            <p>
              Factor por el que se multiplica el área de un terreno urbano y cuyo resultado es el área techada máxima posible, sin considerar los estacionamientos ni sus áreas tributarias.
            </p>
          </div>
          <div class="topic" id="ret">
            <h2 >Retiro</h2>
            <p>
              Es la distancia que existe entre el límite de propiedad y el límite de edificación. Se establece de manera paralela al lindero que le sirve de referencia. El área entre el lindero y el límite de edificación, forma parte del área libre que se exige en los parámetros urbanísticos y edificatorios.
            </p>
          </div>
          <div class="topic" id="est">
            <h2 >Estacionamiento</h2>
            <p>
              Superficie pavimentada, con o sin techo, destinada exclusivamente al estacionamiento de vehículos.
            </p>
          </div>
        </div>  
        <div id ="publi">
          
        </div>
      </div>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>