<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote | Zonas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="/js/doc.js"></script>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
          <div id="alpha">beta</div>
          </h1></a
        >
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <button class="doc_toggle_label" onclick="show_table()">Lista de contenidos</button>
      <div id="container">
        <div id="side">
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc">Introducción</a>
            </h1>
            <ul>
                <li><a href="/doc#tutos">Tutoriales</a></li>
                <li><a href="/doc#mapa">Mapa</a></li>
                <li><a href="/doc#calculadora">Calculadora</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/zonas">Zonas</a>
            </h1>
            <ul>
              <li><a href="/doc/zonas#rdb1">Residencial Densidad Baja Tipo I</a></li>
              <li><a href="/doc/zonas#rdm1">Residencial Densidad Media Tipo I</a></li>
              <li><a href="/doc/zonas#rdm2">Residencial Densidad Media Tipo II</a></li>
              <li><a href="/doc/zonas#rda1">Residencial Densidad Alta Tipo I</a></li>
              <li><a href="/doc/zonas#rda2">Residencial Densidad Alta Tipo II</a></li>
              <li><a href="/doc/zonas#vt">Vivienda Taller</a></li>
              <li><a href="/doc/zonas#cv">Comercio Vecinal</a></li>
              <li><a href="/doc/zonas#cs">Comercio Sectorial</a></li>
              <li><a href="/doc/zonas#cz">Comercio Zonal</a></li>
              <li><a href="/doc/zonas#zr">Zona de Recreación</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/terminos">Términos</a>
            </h1>
            <ul>
              <li><a href="/doc/terminos#lote">Lote</a></li>
              <li><a href="/doc/terminos#zona">Zona</a></li>
              <li><a href="/doc/terminos#atotal">Área Total</a></li>
              <li><a href="/doc/terminos#atechada">Área Techada</a></li>
              <li><a href="/doc/terminos#alibre">Área Libre</a></li>
              <li><a href="/doc/terminos#coef">Coeficiente de edificación</a></li>
              <li><a href="/doc/terminos#amax">Altura máxima</a></li>
              <li><a href="/doc/terminos#ret">Retiro</a></li>
              <li><a href="/doc/terminos#est">Estacionamiento</a></li>
            </ul>
          </div>
          <div class="categoria">
            <h1 class="nom_categoria">
              <a href="/doc/reglamentacion">Reglamentación</a>
            </h1>
          </div>
      </div>
        <div id="content">
          <h1 style="margin-bottom: 0.3em">
            Zonas
          </h1>
          <p>
          La zonificación es el instrumento técnico de gestión urbana que contiene el conjunto de normas técnicas urbanísticas para la regulación del uso y la ocupación del suelo del ámbito de intervención de los PDM, PDU y EU, en función a los objetivos de desarrollo sostenible y a la capacidad de soporte del suelo, para localizar actividades con fines sociales y económicos, como vivienda, recreación, protección y equipamiento; así como la producción industrial, comercio, transportes y comunicaciones.
          </p>
          <br>
          <p>
          Con fines de regular el ejercicio del derecho de propiedad predial respecto al uso y ocupación del suelo en el ámbito de intervención del Plan de Desarrollo Metropolitano, en función a los objetivos de desarrollo y a la capacidad de soporte del suelo, la Municipalidad Provincial de Arequipa establece una Zonificación Urbana como la norma técnica en la que se localizan actividades con fines sociales y económicos como vivienda, recreación, protección y equipamiento, industria comercio, transportes y comunicaciones. Esta se aplicará de acuerdo al Plano de Zonificación Urbana, al Cuadro de Compatibilidades y a lo especificado en el presente Reglamento.
          </p>
          <div class="topic" id=zres><h2>Zonificación Residencial</h2>
            <p>
              Son áreas urbanas destinadas predominantemente al uso de vivienda, pudiendo tolerar además otros usos compatibles. Los planos de zonificación del PDM consignan:
            </p>
            <div class="subtopic" id="rdb1"><h2>Residencial Densidad Baja</h2><span>(RDB)</span>
              <p>
                Es el uso identificado con las viviendas o residencias tratadas en forma individual que permiten la obtención de baja concentración poblacional a través de viviendas unifamiliares.
              </p>
            </div>
            <div class="subtopic" id="rdm1"><h2>Residencial Densidad Media Tipo I</h2><span>(RDM1)</span>
              <p>
                Es el uso identificado con las viviendas o residencias tratadas individualmente o en conjunto que permiten la obtención de una concentración poblacional media, a través de unidades de viviendas unifamiliares y multifamiliares.
              </p>
            </div>
            <div class="subtopic" id="rdm2"><h2>Residencial Densidad Media Tipo II</h2><span>(RDM2)</span>
              <p>
                Es el uso identificado con las viviendas o residencias tratadas individualmente o en conjunto que permiten la obtención de una concentración poblacional media, a través de unidades de viviendas unifamiliares y multifamiliares.
              </p>
            </div>
            <div class="subtopic" id="rda1"><h2>Residencial Densidad Alta Tipo I</h2><span>(RDA1)</span>
              <p>
                Es el uso identificado con las viviendas o residencias tratadas en conjunto que permitan la obtención de una alta concentración poblacional.
              </p>
            </div>
            <div class="subtopic" id="rda2"><h2>Residencial Densidad Alta Tipo II</h2><span>(RDA2)</span>
              <p>
                Es el uso identificado con las viviendas o residencias tratadas en conjunto que permitan la obtención de una alta concentración poblacional.
              </p>
            </div>
            <div class="subtopic" id="vt"><h2>Vivienda Taller</h2><span>(I1R)</span>
              <p>
                Es la zona destinada a vivienda compatible con Industria elemental.
              </p>
            </div>
          </div>
          <div class="topic" id=zcom><h2>Zonificación Comercial</h2>
            <p>
              Son las áreas urbanas destinadas fundamentalmente a la ubicación y funcionamiento de establecimientos de compra-venta de productos y servicios. Los planos de zonificación del PDM consignan:
            </p>
            <div class="subtopic" id="cv"><h2>Comercio Vecinal</h2><span>(CV)</span>
              <p>
                Es el tipo de comercio destinado a ofrecer bienes de consumo diario especialmente alimentos y artículos o servicios de primera necesidad.
              </p>
            </div>
            <div class="subtopic" id="cs"><h2>Comercio Sectorial</h2><span>(CS)</span>
              <p>
                Es el tipo de comercio que se dan en la periferia de las Zonas Comerciales Zonales, pero a una escala menor en cuanto a volumen de ventas y radio de servicio.
              </p>
            </div>
            <div class="subtopic" id="cz"><h2>Comercio Zonal</h2><span>(CZ)</span>
              <p>
                Es el tipo de comercio que se da en forma nucleada (en los puntos de intersecciones de vías importantes) o lineal (a lo largo de vías principales). La característica fundamental de este tipo de comercio está dada por el grado de especialización comercial en función de las áreas a las que sirve: áreas residenciales y áreas industriales.
              </p>
            </div>
            <div class="subtopic" id="ci"><h2>Comercio Industrial</h2><span>(CIn)</span>
              <p>
                Es toda actividad comercial directamente vinculada con la industria o que requiere servicio permanente o frecuente de vehículos pesados de transporte de cara y provoque ruidos o vibraciones. Es una actividad de venta de equipo industrial y no de reparación.
              </p>
            </div>
            <div class="subtopic" id="cm"><h2>Comercio Metropolitano</h2><span>(CM)</span>
              <p>
                Es el conjunto comercial en el que los establecimientos, por su importancia y localización responden a las necesidades y los recursos de la población metropolitana y su región. Incluye la mayoría de los servicios comerciales.
              </p>
            </div>
          </div>  
          <div class="topic" id="zr"><h2>Zona de Recreación</h2>
            <p>
              Son áreas destinadas fundamentalmente a la realización de actividades recreativas activas y/o pasivas, tales como Plazas, Parques, Campos Deportivos, Juegos Infantiles y Clubes deportivos. Las áreas agrícolas zonificadas como Zonas de Recreación, seguirán manteniendo su condición hasta que se viabilice su incorporación como Zona de Recreación mediante la evaluación de Planificación Integral y/o Plan Específico por parte del Instituto Municipal de Planeamiento, y la conformidad correspondiente.
            </p></div>
        </div>  
        <div id ="publi">

        </div>
      </div>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>